
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Styling */
body {
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;      
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertical */
    height: 100vh;
}

/* Heading Styling */
h1 {
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

/* Form Styling */
form {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Label Styling */
label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

/* Input Styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
}

/* Input Focus Effect */
input:focus {
    border-color: #3498db;
    outline: none;
}

/* Submit Button Styling */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


input[type="submit"]:hover {
    background-color: #2980b9;
}
